# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
/android/.gradle/
/android/app/build/
/android/local.properties
/android/gradlew
/android/gradlew.bat
/android/key.properties
**/*.jks
**/*.keystore

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/build/

# macOS
macos/Pods/
macos/build/

# Logs
*.log

# IDE
.idea/
.vscode/
*.iml

# Misc
.DS_Store